.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.footer-content > div {
  margin-bottom: 20px;
}

.footer-content h3 {
  margin-bottom: 10px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  background-color: white;
  color: #333;
}

.copy-right {
  margin-top: 20px;
  text-align: center;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
  margin-right: 10px;
}
.footer-link:last-child {
  margin-right: 0; 
}
.footer-link:hover {
  color: #ccc;
}

