*{
  text-align: center;
  
}




nav{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  min-height: 10vh;
  background: white;
  color: rgb(41, 40, 40);


}

.logo{
  color: rgb(22, 22, 22);
border: 0.5px solid white;
border-radius: 9px;
padding: 2px 4px 1px 4px;
margin-right: auto;
margin-left: 2rem;
}


.link-active {
  color: black;
  background: rgb(255, 255, 255);
  font-weight: 500;
}


.home-container {
  min-height: 100vh;
}
